[
    {log_file, "./out.txt"},% 输出的log文件
    {log_level, notice},% 日志级别
    {xlsx_dir, "./xlsx"},% xlsx所在文件夹
    {out_erl_dir, "../ptolemaios_rpg2/src/data"},% 输出的erl文件夹
    {out_hrl_dir, "../ptolemaios_rpg2/include"},% 输出的hrl文件夹
    {dets_dir, "./dets"},% 存放dets的文件夹
    {split, "#"},% xlsx和sheet名字分割符
    {record_line_size, 3},% 默认record一行有有多个字段
    {record_prefix, "data"}% 生成record的前序
].